body,
html {
    height: 100%;
}

body {
    margin: 0px;
    background-image: url("./assets/bg.png");
    background-repeat: no-repeat;
    width: 100%;
    font-size: 18px;
}

body,
a:link,
a:visited,
a:active {
    color: lightblue;
}

.title,
.addDancerButton {
    padding: 5px 12px;
    float: right;
}

.topbar {
    height: 32px;
    background-color: #555;
}

.title {
    background-color: #777;
}



.blinky {
    border: 10px solid green;
    border-radius: 10px;
    position: absolute;
    transform: scale(4);
    perspective: 1000px;
}

.dancers {
    width: 60%;
    height: 60%;
}

.santa {
    border: none;
    content: url(./assets/santa.gif);
}

.gingerbread {
    border: none;
    content: url(./assets/gingerbread.gif);
    max-width: 15%;
}

.dancer {
    border: none;
    border-radius: 10px;
    position: absolute;
}